.card {
    margin: 10px;
}

.list-group-item {
    color: darkslategray;
}

.list-group {
    color: whitesmoke;
}

#profil {
    background-color: black;
    font-family: fantasy;
    color: white;
}

#work {
    background-color: cornflowerblue;
    font-family: cursive;
}

#hobbies {
    background-color: chocolate;
    font-family: cursive;
}

#education  {
    background-color: crimson;
    font-family: cursive;
}